.worker {
    background-color: var(--theme-light-color);
}

.worker-list {
    display: flex;
    flex-wrap: wrap;
}


.worker-card {
    background-color: var(--primary-white-color);
    flex-basis: calc((100% - 90px) / 4);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.worker-info-wrapper {
    padding: 30px 32px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.worker-name,
.worker-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.worker-name {
    font-weight: 500;
    margin-bottom: 10px;
}

.worker-position {
    color: var(--text-secondary-color);
    margin-bottom: 16px;
}